/* p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  
} */
/* #imageDisplay{
    width: 500px;
} */
.img {
    width:100%
}
.stat-area{
    /* display: inline-block; */
    /* margin: 5px; */
    text-align: center;
    /* background-color: lavender; */
}

.stat-label{
    text-align: center;
}

.blanks-area{
    text-align: center;
    font-size: 32px;
}

h2{
    text-align: center;
}